.language {

  float: left;

  @media (min-width: $screen-sm-min) {

    float: none;
    margin-right: 0;

  }

  li {

    & > .dropdown-menu {

      background-color: rgba($brand-primary, .4);
      border: none;
      border-radius: 0;
      padding: 0;

    }

    & > a {

      color: #ffffff;

      .navbar-default &:hover,
      .navbar-default &:focus {

        border-left-color: rgba($brand-primary, 0.5);

        @media (min-width: $screen-sm-min) {

          border-left-color: transparent;

        }

      }

    }

  }

  .navbar-default & > .open > a,
  .navbar-default & > .open > a:hover,
  .navbar-default & > .open > a:focus {

    border-left-color: $white;

    @media (min-width: $screen-sm-min) {

      border-left-color: transparent;
      border-bottom-color: $brand-primary;

    }

  }

}
