.page-header {

  background: url('../images/header-bg-xs.jpg') #78b0eb no-repeat top center;
  min-height: 836px;
  max-height: 1080px;
  background-position: bottom right;
  position: relative;
  padding-bottom: 20px;

  &::after {

    content: '';
    display: block;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    @include gradient-strip-section($white, 45deg);
    background-size: 23px 3px;
    background-repeat: repeat-x;

  }

  @media (min-width: $screen-sm-min) {

    background-image: url('../images/header-bg-sm.jpg');
    background-position: bottom right;

  }

  @media (min-width: $screen-md-min) {

    background-image: url('../images/header-bg-md.jpg');
    background-position: bottom right;
    height: 100vh;

  }

  @media (min-width: $screen-lg-min) {

    background-image: url('../images/header-bg.jpg');
    background-position: bottom center;

  }

  &__info {

    color: #ffffff;
    text-align: center;
    font-weight: 300;
    margin-bottom: 35px;

    &-phone,
    &-time {

      display: block;
      font-size: 20px;
      margin: 0 auto;

      @media (min-width: $screen-sm-min) {

        margin: 0;
        font-size: 14px;
        display: inline-block;

      }

      @media (min-width: $screen-md-min) {

        font-size: 14px;
        display: inline-block;

      }

    }

    &-phone {

      margin-right: 10px;
      margin-bottom: 15px;

      &::before {

        content: '';
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        width: 25px;
        height: 25px;
        background: url('../images/phone.png') no-repeat;

      }

      @media (min-width: $screen-sm-min) {

        margin-bottom: 0;

      }

    }

    &-time {

      margin-left: 10px;

      span {

        display: block;

        @media (min-width: 443px) {

          display: inline;

        }

      }

      &::before {

        content: '';
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        width: 25px;
        height: 25px;
        background: url('../images/clock.png') no-repeat;

      }

    }

  }

}
