.search {

  text-align: center;
  margin-bottom: 30px;

  &__wrap {

    position: relative;

    &::after {

      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 25px;
      height: 25px;
      background: url('../images/magnifier.png') no-repeat;
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -12px;

    }

    @media (min-width: $screen-sm-min) {

      display: inline-block;
      width: 400px;

    }

  }

  &__field {

    width: 100%;
    border: 1px solid $white;
    @include border-radius(20px);
    @include box-shadow(inset 1px 1px 1px 1px rgba($gray, .3));
    height: 40px;
    padding-left: 15px;
    padding-right: 40px;

    &::-moz-placeholder {

      font-style: italic;

    }

    &::-webkit-input-placeholder {

      font-style: italic;

    }

  }


}
