.btn-submit {

  font-weight: 500;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba($gray, .7);
  position: relative;

  @media (min-width: $screen-md-min) {

    width: 100%;

  }

  span::before {

    margin-right: 5px;

  }


}
