@font-face {
  font-family: "pf_square_sans";
  src: url("../fonts/pfsquaresanspro-italic-webfont.eot");
  src: url("../fonts/pfsquaresanspro-italic-webfont.eot?#iefix") format("embedded-opentype"),
  url("../fonts/pfsquaresanspro-italic-webfont.woff2") format("woff2"),
  url("../fonts/pfsquaresanspro-italic-webfont.woff") format("woff"),
  url("../fonts/pfsquaresanspro-italic-webfont.ttf") format("truetype"),
  url("../fonts/pfsquaresanspro-italic-webfont.svg#pf_square_sans_proitalic") format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "pf_square_sans";
  src: url("../fonts/pfsquaresanspro-light-webfont.eot");
  src: url("../fonts/pfsquaresanspro-light-webfont.eot?#iefix") format("embedded-opentype"),
  url("../fonts/pfsquaresanspro-light-webfont.woff2") format("woff2"),
  url("../fonts/pfsquaresanspro-light-webfont.woff") format("woff"),
  url("../fonts/pfsquaresanspro-light-webfont.ttf") format("truetype"),
  url("../fonts/pfsquaresanspro-light-webfont.svg#pf_square_sans_prolight") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "pf_square_sans";
  src: url("../fonts/pfsquaresanspro-medium-webfont.eot");
  src: url("../fonts/pfsquaresanspro-medium-webfont.eot?#iefix") format("embedded-opentype"),
  url("../fonts/pfsquaresanspro-medium-webfont.woff2") format("woff2"),
  url("../fonts/pfsquaresanspro-medium-webfont.woff") format("woff"),
  url("../fonts/pfsquaresanspro-medium-webfont.ttf") format("truetype"),
  url("../fonts/pfsquaresanspro-medium-webfont.svg#pf_square_sans_promedium") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "pf_square_sans";
  src: url("../fonts/pfsquaresanspro-regular-webfont.eot");
  src: url("../fonts/pfsquaresanspro-regular-webfont.eot?#iefix") format("embedded-opentype"),
  url("../fonts/pfsquaresanspro-regular-webfont.woff2") format("woff2"),
  url("../fonts/pfsquaresanspro-regular-webfont.woff") format("woff"),
  url("../fonts/pfsquaresanspro-regular-webfont.ttf") format("truetype"),
  url("../fonts/pfsquaresanspro-regular-webfont.svg#pf_square_sans_proregular") format("svg");
  font-weight: 400;
  font-style: normal;
}
