doctype html
html(class='no-js', lang='uk-ua')
  head
    title welcome
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    // Place favicon.ico in the root directory

    // build:css styles/vendor.css
    // bower:css
    // endbower
    // endbuild

    // build:css styles/main.css
    link(type='text/css', rel='stylesheet', href='styles/main.css')
    // endbuild

    // build:js scripts/vendor/modernizr.js
    // endbuild

    // build:js scripts/vendor.js
    // bower:js
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/modernizr/modernizr.js')
    script(src='/bower_components/bootstrap-select/dist/js/bootstrap-select.js')
    script(src='/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js')
    // endbower
    // endbuild

    // build:js scripts/plugins.js

    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js')

    // endbuild

  body

    header.page-header

      nav.navbar.navbar-default

        .container
          .navbar-header
            button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#collaps-menu' aria-expanded='false')
              span.sr-only Меню
              span.icon-bar
              span.icon-bar
              span.icon-bar

          ul.nav.navbar-nav.navbar-right.language
            li.drobdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false') Укр
                span.caret
              ul.dropdown-menu
                li
                  a(href='#') Українська
                li.devider(role='separator')
                li
                  a(href='#') Русский

          .collapse.navbar-collapse#collaps-menu

            ul.nav.navbar-nav.menu
              li.menu__item.active
                a(href='#') Головна
              li.menu__item
                a.menu__link(href='#') Трускавець
              li.main-menu__item
                a.menu__link(href='#') Санаторії
              li.main-menu__item
                a.menu__link(href='#') Ціни
              li.main-menu__item
                a.menu__link(href='#') Карта
              li.main-menu__item
                a.menu__link(href='#') Контакти


      .container

        .logo
          a.logo__link
            img.img-responsive(src='../images/logo.svg', onerror='this.src=\'image.png\'')


        .page-header__info
          .page-header__info-phone +38 0(67) 477-44-53
          .page-header__info-time пн-пт: з 10:00 до 18:00,
            span сб: з 10:00 до 15:00


        .search
          form.search__wrap(action='/', method='GET')
            input.search__field(placeholder='Наприклад: Вілла Христина, Санаторій Шахтар')

        .booking
          .booking__heading Оберіть найкращий відпочинок в Трускавці
          form.booking__panel(action='/', method='POST')
            .booking__panel-top-side
              .row

                .col-sm-6.col-md-3
                  .form-group
                    label(for='resort') Відпочинок:
                    select.selectpicker#resort(name='resort')
                      option(value='Rixos') Rixos
                      option(value='Rixos') Rixos
                      option(value='Rixos') Rixos
                      option(value='Rixos') Rixos

                .col-sm-6.col-md-2
                  .form-group
                    label(for='room') Номер:
                    select.selectpicker#room(name='resort')
                      option(value='Стандарт') Стандарт
                      option(value='Покращений стандарт') Покращений стандарт
                      option(value='Люкс') Люкс
                      option(value='Президентський') Президентський


                .col-sm-4.col-md-4.input-daterange
                  .row
                    .col-xs-6
                      .form-group
                        label(for='date_arrive') Дата заїзду:
                        input.form-control#date_arrive(name='date_arrive', type='text')
                    .col-xs-6
                      .form-group
                        label(for='date_leave') Дата виїзду:
                        input.form-control#date_leave(name='date_leave', type='text')


                .col-xs-4.col-sm-2.col-md-1
                  .form-group
                    label(for='days') Днів:
                    input.form-control#days(name='days', type='text', readonly)

                .col-xs-4.col-sm-3.col-md-1
                  .form-group
                    label(for='adults') Дорослих:
                    select.selectpicker#adults(name='adults')
                      option(value='1') 1
                      option(value='2') 2
                      option(value='3') 3
                      option(value='4') 4

                .col-xs-4.col-sm-3.col-md-1
                  .form-group
                    label(for='children') Дітей:
                    select.selectpicker#children(name='children')
                      option(value='0') 0
                      option(value='1') 1
                      option(value='2') 2
                      option(value='3') 3


            .booking__panel-bottom-side
              .row

                .col-sm-4.col-md-2
                  .form-group
                    label.sr-only(for='name') Ім'я
                    input.form-control#name(type='text', name='name', placeholder='Ім\'я')

                .col-sm-4.col-md-2
                  .form-group
                    label.sr-only(for='suname') Прізвище
                    input.form-control#suname(type='text', name='suname', placeholder='Прізвище')

                .col-sm-4.col-md-2
                  .form-group
                    label.sr-only(for='second_name') По-батькові
                    input.form-control#second_name(type='text', name='second_name', placeholder='По-батькові')

                .col-sm-6.col-md-2
                  .form-group
                    label.sr-only(for='phone') Номер телефону
                    input.form-control#phone(type='text', name='phone')

                .col-sm-6.col-md-2
                  .form-group
                    label.sr-only(for='email') E-mail
                    input.form-control#email(type='text', name='email')

                .col-sm-3.col-sm-push-9.col-md-2.col-md-push-0
                  .form-group
                    button.btn.btn-submit(type='submit', name='sub')
                      span.fa.fa-check
                      |Бронювати

  .component-wrapper
    .container
      .system-message-container

      main.content
        .categories
          header.page-heading
            h1.page-heading__header
          .categories__greed
            .row
              .col-md-4
                a.category
                  h2.categories__heading
                  p.categories__desc








    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild
